<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<style>
    [v-cloak]
    {
        display: none;
    }
</style>

<div id="app">
    <div class="container">
        <div class="container">
            <div class="card">
                <img class="card-img-top" src="bg.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Near Earth Objects</h4>
                    <p class="card-text">2020/01/01-2020/01/07</p>

                </div>
            </div>
            <div v-for="(a,index1) in asteroids">
                <h4>Date: {{index1}}</h4>
                <h5>{{buttonText}}</h5>
                <p> showing {{a.length}}</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name:</th>
                            <th>Closed Approach Date:</th>
                            <th>Data</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody v-cloak>
                        <tr v-for="(i,index) in a" :key=a.neo_reference_id>
                            <td>{{index+1}}<td>
                            <td scope="row">{{i.name}}</td>
                            <td>{{getClosedApproachdate(i)}}</td>
                            <td>
                                <ul v-if =" i.close_approach_data.length > 0">
                                    <li v-for ="(value,key) in i.close_approach_data[0].miss_distance" >
                                        {{key}}: {{value}}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <button @click="remove(index,index1)" class="btn btn-warning" >Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        //document.getElementById('greeting').innerText='Hello Javaa'


        var vm = new Vue({
            el:'#app',
            data:{
                asteroids: [],
                buttonText:'True'
            },
            // Created hooks
            created: function(){
                this.fetchAsteroids();
            },
            //methods
            methods:{
                fetchAsteroids:function(){
                    var apiKey = 'vAefkwyddMLSWp55biy9RoZy4mRHyI4CEVaFBWRp'
                    var url = 'https://api.nasa.gov/neo/rest/v1/feed?start_date=2020-01-05&end_date=2020-01-06&api_key='+apiKey
                    axios.get(url)
                        .then(function(res){
                            vm.asteroids=res.data.near_earth_objects;
                            })
                },
                getClosedApproachdate : function(i){
                   if(i.close_approach_data.length>0){
                        return i.close_approach_data[0].close_approach_date_full;
                   }
                    return 'N/A'
                },
                remove: function(index,id){
                    if (this.buttonText) {
                        this.buttonText = false
                        } else {
                        this.buttonText = true
                        }
                    this.asteroids[id].splice(index,1)
                }
            }
        });
        //vm.fetchApod();


    </script>




